/**TopPage&framework**/
body {
	background: rgba(161, 234, 250, .5);
	margin: 0;
	padding: 0;
	background-image: url('img/twinkle_00010.jpeg');
	background-size: cover;

}

#wrapper {
	border: white 3px solid;
	width: 960px;
	margin: 0 auto;
	padding: 0 0 30px 0;
	background-color: rgba(201, 241, 250, .8);
	;
}

footer {
	margin: 0;
	padding: 0;
	height: 100px;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:hover {
	color: rgb(161, 100, 250, 1);
}

#header {
	background-image: url('img/water_00001.jpeg');
	background-size: cover;
	background-color: rgba(0, 231, 175, 0.28);
	height: 120px;
	width: 960px;
	color: white;
	margin: 0px;
}

.headerLeft {
	display: flex;
	float: left;
	margin: 0px 200px;
}

.headerLeft h1 {
	font-size: 40px;
}

.headerLeft a {
	padding: 0px;
}

.headerLeft p {
	line-height: 100px;
	margin-bottom: 0px;
}

.headerRight {
	display: flex;
	height: 100%;
	flex-direction: row-reverse;
	align-items: flex-end
}

.headerRight a {
	margin: 10px;
}

#menubar ul {
	clear: both;
	list-style: none;
	margin: 0px;
	display: flex;
	padding-left: 0px;
	width: 100%;
	height: 60px;
	/*これがないと"・"分のスペースがでてくる*/
}

#menubar li {
	width: 100%;
	text-align: center;
	border-color: white;
	background-color: rgba(10, 231, 175, 0.6);
	background-size: 50px;
	background-position: left;
	background-repeat: no-repeat;
	color: white;
	font-size: 23px;
	border: rgb(240, 237, 237) 3px outset;
}

#menubar li a {
	line-height: 55px;
	display: block;
	width: 100%;
	height: 100%;
}

li.menubar_howto {
	background-image: url(./img/fish_medaka.png);
}

li.menubar_camera {
	background-image: url(./img/camera.png);
}

li.menubar_sell {
	background-image: url(./img/shopping_cart.png);
}

li.menubar_contact {
	background-image: url(./img/phone_kurodenwa.png);
}

img {
	box-sizing: border-box;
	border-top: azure 2px solid;
	border-bottom: azure 2px solid;
	height: 450px;
	object-fit: cover;
}

#about {
	color: black;
	font-size: medium;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgba(129, 197, 193, 0.17);
}

#about p {
	text-align: center;
	padding: 30px;
}

#contents p {
	padding-left: 10px;
}

/******TOPPAGE************/
span.youkihi {
	font-weight: 100;
	font-size: large;
	color: rgba(25, 0, 255, 0.952);
}

#count {
	text-align: center;
	font-size: larger;
	font-weight: 300;
	background-color: rgba(129, 197, 193, 0.17);
}

/*****calender&carousel*******/
#lower {
	display: flex;
}

#calender {
	width: 50%;
	margin: 30px 0 10px 30px;
}

#medakaBabySection {
	width: 450px;
	height: 450px;
	margin-top: 30px;
}

#medakaBabySection p {
	font-size: 24px;
	font-weight: bold;
	color: rgba(161, 100, 250, 1);
	text-align: center;
	margin: 5px;
}

#medakaBabyPics {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#medakaBabyPics ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	transition: transform .5s;
}

#medakaBabyPics li {
	height: 100%;
	min-width: 100%;
}

#medakaBabyPics li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 4px solid white;
}

#prev, #next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	font-weight: bolder;
	color: rgba(161, 100, 250, 1);
	background: rgba(161, 234, 250, 0.8);
	border: none;
	border-radius: 50px;
	padding: 0 4px 4px;
}

#prev:hover, #next:hover {
	background: rgba(161, 234, 250, 1);
}

#prev {
	left: 10;
}

#next {
	right: 0;
}

.btnHidden {
	display: none;
}

nav {
	text-align: center;
	padding-top: 10px;
}

/*navのボタンに続くボタンに付けるCSS*/
nav button+button {
	margin-left: 8px;
}

nav button {
	border: none;
	background-color: rgb(196, 196, 196);
	border-radius: 50%;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.current {
	background-color: rgb(124, 124, 124);
}

/****全サブぺージの subtitle*****/

#contents {
	clear: left;
	color: black;
	background-color: rgba(129, 197, 193, 0.17);
	margin: 20px 100px;
}

#contentsTitle {
	color: #fff;
	background-color: rgba(0, 231, 175, 0.28);
	padding: 10px 10px 10px 50px;
	width: 700px;
}

.contentsSubTitle h2 {
	text-decoration: underline dotted rgb(161, 100, 250, 1);
	background-image: url(./img/fish_medaka.png);
	background-size: 50px;
	background-repeat: no-repeat;
	padding-left: 60px;
	margin-left: 30px;
}

#honbun {
	padding: 0px 100px 5px;
}

#honbun a{
	text-decoration: 2px solid underline grey;
}


span.contentsAttention {
	font-size: 13px;
}

span.contentsAttentionBold {
	font-size: larger;
	font-weight: bold;
	color: red;
}

/********howto********/

.howtolist {
	font-size: 30px;
}

.howtolist li {
	padding-bottom: 10px;
}

.howtolist a {
	text-decoration: 2px solid underline grey;
}

.introduceTitle {
	font-size: large;
	margin-bottom: 10px;
}

.syutten {
	color: gainsboro;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.kyouchou {
	font-size: large;
}

.adjustImg {
	height: 300px;
}

/*******************photolist*****************/
.photoListTop {
	font-size: 30px;
	margin-bottom: 80px;
}

.photoListTop a {
	text-decoration: 2px solid underline grey;
}

/*******************Youkihi etc.***********************/
/********buttons**********/
#photoPrev, #photoNext {
	position: absolute;
	top: 200px;
	font-size: 200%;
	cursor: pointer;
	color: rgb(161, 100, 250, 1)
}

#photoPrev {
	left: 0;
}

#photoNext {
	right: 0;
}

#photoPrev:hover, #photoNext:hover {
	color: rgba(0, 255, 157, 0.5);
}

.hidden{
	display: none;
}
/*************************/

#bigimgParent {
	position: relative;
	overflow: hidden;
}

#bigimg {
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	transition: transform .3s;
}

#bigimg li {
	height: 100%;
	min-width: 100%;
}

#bigimg li img {
	width: 100%;
	object-fit: contain;
	background-color: rgb(240, 240, 240, .5);
}


#bigimg p {
	background: rgba(103, 165, 235, 0.2);
	height: 50px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	font-size: larger;
}

#miniimgList {
	display: flex;
	list-style: none;
	justify-content: center;
	margin: 10px 20px;
	flex-wrap: wrap;
}

.list-children {
	width: 70px;
	height: 70px;
	padding: 0;
	border: #fff 2px solid;
	cursor: pointer;
	margin: 0 auto 10px auto;
	cursor: pointer;
}

.list-children:hover{
	opacity: 0.8;
}


/****bubbles******/

.bubbles {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	bottom: 0;
}

.bubble {
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	animation: bubblesMove 15s ease-in infinite;
}

.bubble:nth-child(1) {
	width: 50px;
	height: 50px;
	left: 10%;
	animation-duration: 13s;
	animation-delay: 5s;
}

.bubble:nth-child(2) {
	width: 30px;
	height: 30px;
	left: 20%;
	animation-delay: 3s;
}

.bubble:nth-child(3) {
	width: 40px;
	height: 40px;
	left: 30%;
	animation-duration: 8s;
}

.bubble:nth-child(4) {
	width: 20px;
	height: 20px;
	left: 40%;
	animation-duration: 10s;
}

.bubble:nth-child(5) {
	width: 10px;
	height: 10px;
	left: 50%;
	animation-duration: 7s;
}

.bubble:nth-child(6) {
	width: 30px;
	height: 30px;
	left: 60%;
	animation-duration: 5s;
	animation-delay: 2s;
}

.bubble:nth-child(7) {
	width: 25px;
	height: 25px;
	left: 70%;
}

.bubble:nth-child(8) {
	width: 55px;
	height: 55px;
	left: 80%;
}

@keyframes bubblesMove {
	0% {
		bottom: 0;
		transform: translateX(0px);
	}

	25% {
		transform: translateX(100px);
	}

	50% {
		transform: translateX(200px);
	}

	75% {
		transform: translateX(30px);
	}

	100% {
		bottom: 2500px;
	}
}

/******coming soon******/

.stickerURL {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: red;
}

.reference {
	height: 120px;
}

@media screen and (max-width: 480px) {}


/***********contact*******************/

.endMsg {
	/* display: none; */
	text-align: center;
	font-size: 32px;
}

.thximg {
	display: flex;
	margin: 0 auto;
}


form {
	padding: 0px 100px 20px 100px;
}

#form p {
	margin-bottom: 5px;
	border-left: 5px rgb(107, 211, 107) solid;
}

input, textarea {
	margin-left: 7px;
	border-radius: 5px;
}

input.sousin {
	margin-top: 30px;
	background-color: rgb(107, 211, 107);
}

#toTop p {
	text-align: center;
}